<div class="p-6 sm:ml-64 mt-14 mx-auto">
  <div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md space-y-6">

    <div class="relative flex items-center h-12 mb-4">
      <button class="absolute left-0"
        (click)="back()"
      >
        Voltar
      </button>
      <h2 class="mx-auto text-2xl font-bold text-gray-800 text-center">Resolução de exercício</h2>
    </div>

    <h2 class="text-2xl font-bold">Questão 1</h2>
    @if (exerciseInfo) {
      <p class="text-gray-700">
        {{ exerciseInfo.description }}
      </p>
      @if (imageUrl) {
        <div>
          <span class="p-2 text-sm text-gray-500" >Diagrama das tabelas disponibilizadas</span>
          <img width="700" height="400" [src]="imageUrl" alt="Imagem da questão" class="rounded-2xl">
        </div>
      }  
    } @else {
      <p class="text-red-600">
        Não foi possível carregar a questão
      </p>
    }

    <div class="mt-4">
      <label class="block text-sm font-medium text-gray-700 mb-1">Sua resposta (SQL):</label>
      <div class="border rounded-lg overflow-hidden">
        <div id="editor" class="h-48 w-full"></div>
      </div>
    </div>


    @if (responseExercise) {
      @if (responseExercise.isCorrect) {
        <p class="text-green-600">Resposta correta!</p>
      } @else if (responseExercise) {
        <p class="text-red-600">Resposta incorreta!!</p>
      }
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
              @for (key of getTableKeys(); track $index) {
                <th scope="col" class="px-6 py-3">
                  {{ key }}
                </th>
              }
            </tr>
          </thead>
          <tbody>
            @for (row of responseExercise.resultQuery; track $index) {
              <tr class="bg-white border-b border-gray-200">
              @for (key of getTableKeys(); track $index) {
                <td class="px-6 py-4">
                  {{ row[key] }}
                </td>
              }
              </tr>
            }
          </tbody>
        </table>
      </div>
    }

    <p class="text-red-600">
      {{errorMessage}}
    </p>
    
    <div class="mt-4 text-right">
      <button
        class="bg-blue-600 text-white px-4 py-2 rounded-xl shadow-md hover:bg-blue-700 transition"
        (click)="sendAnswer()"
      >
        Enviar Resposta
      </button>
    </div>

  </div>
</div>
