<div class="p-6 sm:ml-64 mt-14 mx-auto">
  <form class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md space-y-6"
    #form="ngForm" 
    (ngSubmit)="save(form)" 
    novalidate 
  >
    <h2 class="text-2xl font-bold text-gray-800">
      {{ isEditing ? 'Editar Exercício' : 'Cadastrar Exercício' }}
    </h2>

    <!-- Título -->
    <div>
      <label for="titulo" class="block mb-2 text-sm font-medium text-gray-700">
        Título do Exercício
      </label>
      <input
        type="text"
        id="titulo"
        name="title"
        [(ngModel)]="exercise.title"
        required
        class="block w-full p-2 border border-gray-300 rounded-lg"
        placeholder="Digite o título do exercício"
      >
      <p *ngIf="form.submitted && !exercise.title.trim()" class="text-red-500 text-sm">
        Este campo é obrigatório.
      </p>
    </div>

    <div>
      <label for="dialect" class="block mb-2 text-sm font-medium text-gray-700">
        Dialeto do banco
      </label>
      <select
        id="tipo"
        name="dialect"
        required
        [(ngModel)]="exercise.dialect"
        class="block w-full p-2 border border-gray-300 rounded-lg"
      >
        <option value="" disabled selected>Selecione um tipo de dialeto</option>
        <option *ngFor="let type of dialectTypes" [value]="type">{{ type }}</option>
      </select>
      <p *ngIf="form.submitted && !exercise.type" class="text-red-500 text-sm">
        Este campo é obrigatório.
      </p>
    </div>

    <!-- Tipo do exercício -->
    <div>
      <label for="type" class="block mb-2 text-sm font-medium text-gray-700">
        Tipo de comando SQL
      </label>
      <select
        id="tipo"
        name="type"
        required
        [(ngModel)]="exercise.type"
        class="block w-full p-2 border border-gray-300 rounded-lg"
      >
        <option value="" disabled selected>Selecione um tipo</option>
        <option *ngFor="let tipo of tiposSQL" [value]="tipo">{{ tipo }}</option>
      </select>
      <p *ngIf="form.submitted && !exercise.dialect" class="text-red-500 text-sm">
        Este campo é obrigatório.
      </p>
    </div>

    <div>
      <label for="tableName" class="block mb-2 text-sm font-medium text-gray-700">
        Tabela Referente
      </label>
      <span class="p-2 text-sm text-gray-500">
        A plataforma oferece as seguintes tabelas para a criação dos exercícios
      </span>
      <select
        id="tipo"
        name="tableName"
        required
        [(ngModel)]="exercise.tableName"
        class="block w-full p-2 border border-gray-300 rounded-lg"
      >
        <option value="" disabled selected>Selecione uma tabela</option>
        <option *ngFor="let table of tableNames" [value]="table">{{ table }}</option>
      </select>
      <p *ngIf="form.submitted && !exercise.tableName" class="text-red-500 text-sm">
        Este campo é obrigatório.
      </p>
    </div>

    <div>
      <span class="p-2 text-sm text-gray-500" >Diagrama das tabelas disponibilizadas</span>
      <img class="rounded-2xl" src="./../../../../assets/images/der_exercises_tables.png" width="700" height="200" >
    </div>

    <div class="bg-white rounded-lg">
        <button
          type="button"
          (click)="toggleMaisInfo()"
          class="text-blue-600 hover:underline text-sm"
        >
          {{ showDataTables ? 'Ocultar dados das tabelas' : 'Mostrar dados das tabelas' }}
        </button>
    
         @if (showDataTables) {
          <div class="mt-4 overflow-x-auto rounded-xl">
            <span class="p-2 text-sm text-gray-500">Tabela USERS</span>
            <table class="w-full text-sm text-left text-gray-500 border border-gray-200">
              <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                <tr>
                  <th class="px-4 py-2">ID</th>
                  <th class="px-4 py-2">NAME</th>
                  <th class="px-4 py-2">AGE</th>
                  <th class="px-4 py-2">BIRTH DATE</th>
                  <th class="px-4 py-2">HAS DRIVER LICENSE</th>          
                </tr>
              </thead>
                <tbody>
                @for (item of dataUserTable; track $index) {
                  <tr class="bg-white border-b">
                    <td class="px-4 py-2">{{ item.id }}</td>
                    <td class="px-4 py-2">{{ item.name }}</td>
                    <td class="px-4 py-2">{{ item.age }}</td>
                    <td class="px-4 py-2">{{ item.birth_date | date: 'dd/MM/yyyy' }}</td>
                    <td class="px-4 py-2">{{ item.has_driver_license }}</td>
                  </tr>
                }
                </tbody>
             </table>
            </div>

            <div class="mt-4 overflow-x-auto rounded-xl">
            <span class="p-2 text-sm text-gray-500">Tabela ORDERS</span>
            <table class="w-full text-sm text-left text-gray-500 border border-gray-200">
              <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                <tr>
                  <th class="px-4 py-2">ORDER DATE</th>
                  <th class="px-4 py-2">TOTAL AMOUNT</th>
                  <th class="px-4 py-2">STATUS</th>
                  <th class="px-4 py-2">USER ID</th>
                </tr>
              </thead>
              <tbody>
               @for (item of dataOrderTable; track $index) {
                 <tr class="bg-white border-b">
                   <td class="px-4 py-2">{{ item.order_date | date: 'dd/MM/yyyy' }}</td>
                   <td class="px-4 py-2">{{ item.total_amount }}</td>
                   <td class="px-4 py-2">{{ item.status }}</td>
                   <td class="px-4 py-2">{{ item.userId }}</td>
                 </tr>
               }
              </tbody>
            </table>
          </div>
         }
    </div>

    <!-- Descrição -->
    <div>
      <label for="descricao" class="block mb-2 text-sm font-medium text-gray-700">
        Descrição
      </label>
      <textarea
        id="descricao"
        name="description"
        required
        [(ngModel)]="exercise.description"
        class="w-full p-2 border rounded-lg"
        rows="4"
      ></textarea>
      <p *ngIf="form.submitted && !exercise.description.trim()" class="text-red-500 text-sm">
        Este campo é obrigatório.
      </p>
    </div>

    <!-- Checkboxes -->
    <div class="flex flex-col gap-2">
      <!-- <label class="flex items-center space-x-2">
        <input type="checkbox" [(ngModel)]="exercise.sort" name="sort" class="rounded">
        <span class="text-sm text-gray-700">ORDER BY será relevante</span>
      </label> -->
      <label class="flex items-center space-x-2">
        <input type="checkbox" [(ngModel)]="exercise.public" name="public" class="rounded">
        <span class="text-sm text-gray-700">Exercício será público</span>
      </label>
    </div>

    <!-- Upload de imagem -->
    <!-- <div>
      <label for="imagem" class="block mb-2 text-sm font-medium text-gray-700">
        Imagem (opcional)
      </label>
      <input
        type="file"
        (change)="onImageUpload($event)"
        class="block w-full text-sm text-gray-700 border rounded-lg"
      >
      <div *ngIf="exercise.image" class="mt-2 text-sm text-gray-600">
        Imagem selecionada: <strong>{{ exercise.image }}</strong>
      </div>
    </div> -->

    <!-- 🔸 Resposta correta -->
    <div>
      <label for="resposta" class="block mb-2 text-sm font-medium text-gray-700">
        Resposta correta (query SQL que será comparado)
      </label>
      <input
        type="text"
        id="resposta"
        name="answer"
        [(ngModel)]="exercise.answerProfessor"
        required
        class="block w-full p-2 border rounded-lg"
        placeholder="Digite a resposta correta (SQL)"
      >
      <p *ngIf="form.submitted && !exercise.answerProfessor" class="text-red-500 text-sm">
        Este campo é obrigatório.
      </p>
    </div>

    <div class="flex items-center justify-end gap-4">
      <button class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600"
        type="button"
        (click)="back()"
      >
        Voltar
      </button>
      <button class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700"
        type="submit" 
      >
        {{ isEditing ? 'Salvar Alterações' : 'Salvar Exercício' }}
      </button>
    </div>
  </form>
</div>
