<div class="p-6 sm:ml-64 mt-14 mx-auto">
    <div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md space-y-6">
        <h2 class="text-2xl font-bold text-gray-800">Cadastrar Exercício</h2>

        <!-- Tipo do exercício -->
        <div>
            <label for="tipo" class="block mb-2 text-sm font-medium text-gray-700">Tipo de comando SQL</label>
            <select id="tipo" [(ngModel)]="exercise.type_exercise" class="block w-full p-2 border border-gray-300 rounded-lg">
              <option *ngFor="let tipo of tiposSQL" [value]="tipo">{{ tipo }}</option>
            </select>
          </div>

        <!-- Descrição -->
        <div>
            <label for="descricao" class="block mb-2 text-sm font-medium text-gray-700">Descrição</label>
            <textarea id="descricao" [(ngModel)]="exercise.description" rows="4"
                class="w-full p-2 border rounded-lg"></textarea>
        </div>

        <!-- Checkboxes -->
        <div class="flex flex-col gap-2">
            <label class="flex items-center space-x-2">
                <input type="checkbox" [(ngModel)]="exercise.sort" class="rounded">
                <span class="text-sm text-gray-700">ORDER BY será relevante</span>
            </label>
            <label class="flex items-center space-x-2">
                <input type="checkbox" [(ngModel)]="exercise.public" class="rounded">
                <span class="text-sm text-gray-700">Exercício será público</span>
            </label>
        </div>

        <!-- Upload de imagem -->
        <div>
            <label for="imagem" class="block mb-2 text-sm font-medium text-gray-700">Imagem (opcional)</label>
            <input type="file" (change)="onImageUpload($event)"
                class="block w-full text-sm text-gray-700 border rounded-lg">
        </div>

        <!-- Respostas alternativas -->
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-700">Respostas alternativas</label>
            <div *ngFor="let resposta of respostasAlternativas; let i = index" class="flex items-center gap-2 mb-2">
                <input [(ngModel)]="respostasAlternativas[i].answer" class="flex-1 p-2 border rounded-lg"
                    placeholder="Resposta alternativa">
                <button (click)="removerResposta(i)" class="text-red-600 hover:text-red-800">Remover</button>
            </div>
            <button (click)="adicionarResposta()"
                class="mt-2 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                Adicionar Resposta Alternativa
            </button>
        </div>

        <!-- Botão de salvar -->
        <button (click)="salvarExercicio()" class="w-full bg-green-600 text-white py-2 rounded hover:bg-green-700">
            Salvar Exercício
        </button>
    </div>
</div>