<div class="p-6 sm:ml-64 mt-14 mx-auto">
    <div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md space-y-6">
      <div class="flex justify-between items-center">
        <button 
          (click)="back()"
        >
          Voltar
        </button>
        <h2 class="text-2xl font-bold text-gray-800">Gerenciar Listas</h2>
        <button
          (click)="addList()"
          class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none"
        >
          + Adicionar Lista
        </button>
      </div>

      <div class="mt-6 space-y-4">
        @for (list of lists; track $index) {
          <div class="flex justify-between items-center p-4 border rounded-lg shadow-sm">
            <span class="text-lg text-gray-700">{{ list.title }}</span>
            <div class="flex gap-2">

              <button
                (click)="addExercise(list.id)"
                class="flex items-center gap-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none"
              >
                Criar Exercício
              </button>

              <button
                (click)="viewExercises(list.id)"
                class="flex items-center gap-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none"
              >
                Exercícios
              </button>

              <!-- <button
                (click)="editList(list.id)"
                class="flex items-center gap-2 text-white bg-yellow-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none"
              >
                <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 12c2.071 0 3.75-1.679 3.75-3.75S14.071 5.5 12 5.5 8.25 7.179 8.25 9.25 9.929 12 12 12ZM12 14c-2.95 0-8.25 1.482-8.25 4.5V18h16.5v-0.25c0-3.018-5.3-4.5-8.25-4.5z"
                  />
                </svg>
                Editar
              </button> -->

            </div>
          </div>
        } @empty {
          <div>
            <p>Nenhuma lista cadastrada para esta turma</p>
          </div>
        }

      </div>
    </div>
  </div>