<div class="p-6 sm:ml-64 mt-14 mx-auto">
  <div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md space-y-6">
    <div class="relative flex items-center h-12 mb-4">
      <button class="absolute left-0"
        (click)="back()"
      >
        Voltar
      </button>
      <h2 class="mx-auto text-2xl font-bold text-gray-800 text-center">Exercícios</h2>
    </div>
        
    <div class="mt-6 space-y-4">
      @for (item of items; track $index) {

        <div class="flex justify-between items-center p-4 border rounded-lg shadow-sm">
          <span class="w-52 text-lg text-gray-700 truncate">{{ item.description }}</span>
          <span class="text-lg text-gray-700">{{ item.dialect }}</span>
          
          <div class="flex gap-2">
            <button
              (click)="goToAnswersHistoric(item.id)"
              class="flex items-center gap-2 bg-slate-600 text-white hover:bg-slate-700 focus:ring-4 focus:ring-amber-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none"
            >
              <svg class="w-4 h-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                <!-- Círculo do relógio -->
                <circle cx="12" cy="12" r="9" stroke-width="2" />
                <!-- Ponteiro das horas -->
                <line x1="12" y1="12" x2="12" y2="8" stroke-width="2" stroke-linecap="round" />
                <!-- Ponteiro dos minutos -->
                <line x1="12" y1="12" x2="16" y2="12" stroke-width="2" stroke-linecap="round" />
              </svg>
              Histórico
            </button>
      
            <button
              (click)="solveExercise(item.id)"
              class="flex items-center gap-2 text-white bg-amber-600 hover:bg-amber-700 focus:ring-4 focus:ring-amber-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none"
            >
              <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                />
              </svg>
              Exercícios
            </button>

          </div>
        </div>
      } @empty {
        Nenhuma turma associada ao seu usuário
      }
    </div>

  </div>
</div>